*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: black;
    color: white;
    margin-bottom: 100px;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 300px;
}

.pai{
    width: 100%;
    height: 700px;
    margin: 0 auto;
}

.inicio{
    padding-top: 200px;   
    font-size: 50px;
    text-align: center;
    border-bottom: 100px solid #0166b1;
}



.inicio p{
    font-size: 30px;
    color: gray;
}

.baixo {   
    padding-top: 180px;
    padding-bottom: 30px;
}


.inicio h1{
    font: 500;
}

.navegacao {
    margin-top: 50px;
    display: flex;
    left:50%; 
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 20px;
     box-shadow: 0 0 10px rgba(0,0,0,.2);
    backdrop-filter: blur(10px);
}

.navegacao a {
    text-decoration: none;
    color: gray;
    padding-left: 10px;

    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.aa:hover{
    color: #005799;
    transform: scale(1.1);
}

.b:hover{
    color: #005799;
    transform: scale(1.1);

}

.c:hover {
    color: #005799;
    transform: scale(1.1);

}

.d:hover{
    color: #005799;
    transform: scale(1.1);

}

.primeiro{
    padding-left: 20px;
    padding-top: 270px;;
    font-size: 35px;
    height: 200px;
    display: column;
    align-items: center;
}

.primeiro p{
    font-size: 20px;
    color: gray;
}

.garagem{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    margin-top: -70px;
}

.car{
    width: 100%;
}

.m2{
    border-radius: 10px;
    width: 25%;
    height: 380px;
    background:linear-gradient(to top, #005799,#014274);
    margin-bottom: 30px;
}

.m2 p{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    
}


.m3{
   
    border-radius: 10px;
    width: 25%;
    height: 380px;
    background:linear-gradient(to top, #005799,#014274);
}

.m3 p{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    
}

.m4{
    
    border-radius: 10px;
    width: 25%;
    height: 380px;
    background:linear-gradient(to top, #005799,#014274);
}

.m4 p{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

.descer{
  margin-top: -55px;
  font-size: 30px;
  color: gray;
  text-align: center;
  border-bottom: 100px solid #0166b1;
}

.segundo{
    padding-left: 20px;
    padding-top: 20px;;
    font-size: 35px;
    height: 200px;
    display: column;
    align-items: center;
}

.segundo p {
    color: gray;
    font-size: 20px;
}

table{
    width: 75%;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 5px;
}

td, th{
    text-align: center;
}

.descerHis{
  margin-top: 370px;
  font-size: 35px;
  color: gray;
  text-align: center;
  border-bottom: 100px solid #0166b1;
}

.card{
    display: flex;
    justify-content: center;
    
}

.foto{
    width: 200px;
    border: 2px solid rgb(73, 73, 73);
    float: left;
    margin: 10px 20px 10px 10px;
}

.texto{
    background-color: rgb(24, 24, 24);
    height: 500px;
    width: 40%;
    border: 2px solid rgb(73, 73, 73);
    border-radius: 10px;
    line-height: 30px;
}

